<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Demo</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <ul v-if="isShow" class="list" :class="bindCls">
            <li v-for="item,index in items" :key=`${item.key}-${index}`>{{index}}: {{item.val}}</li>
        </ul>
        <button @click="handleClick">change</button>
        <base-input v-on:focus="onFocus" label="label" v-model="info"></base-input>
        <p>{{fullName}}</p>
    </div>
    <script>
        Vue.component('base-input', {
            inheritAttrs: false,
            props: ['label', 'value'],
            created() {
                console.log(this.$listeners)
            },
            computed: {
                inputListeners: function () {
                var vm = this
                // `Object.assign` 将所有的对象合并为一个新对象
                return Object.assign({},
                    // 我们从父级添加所有的监听器
                    this.$listeners,
                    // 然后我们添加自定义监听器，
                    // 或覆写一些监听器的行为
                    {
                    // 这里确保组件配合 `v-model` 的工作
                        input: function (event) {
                            vm.$emit('input', event.target.value)
                        }
                    }
                )
                }
            },
            template: `
                <label>
                {{ label }}
                <input
                    v-bind="$attrs"
                    v-bind:value="value"
                    v-on="inputListeners"
                >
                </label>
            `
        })
        var app = new Vue({
            name: 'wrap',
            el: '#app',
            data: {
                bindCls: 'on',
                isShow: true,
                items: [
                    {
                        key: 'A',
                        val: 'A'
                    },
                    {
                        key: 'B',
                        val: 'B'
                    },
                    {
                        key: 'C',
                        val: 'C'
                    }
                ],
                info: '111',
                firstName: 'Yan',
                lastName: 'junjie'
            },
            computed: {
                fullName() {
                    return this.firstName + this.lastName
                }
            },
            methods: {
                handleClick() {
                    this.items.reverse()
                    this.items.push({key: 'D', val: 'D'})
                },
                onFocus() {
                    console.log('onFocus')
                }
            }
        })
    </script>
</body>
</html>